{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="alert alert-primary" role="alert" style="margin-top:16px;">
    <h4 class="alert-heading ">코드 입력 방법</h4>
    <hr>
    <p class="mb-0">함수 내부의 <strong>코드만</strong> 입력해 주세요(def 금지).</p>
    <p class="mb-0">리스트는 <strong>A</strong>로 선언되어 있습니다.</p>
    <p class="mb-0">리스트는 길이(len(A))는 <strong>n</strong>으로 선언되어 있습니다.</p>
    <p class="mb-0"><strong>math</strong> 라이브러리 사용 가능합니다.</p>
    <p class="mb-0"><strong>random</strong> 라이브러리 사용 가능합니다.</p>
    <div class="alert alert-warning" role="alert">
      <strong>주의</strong>
      <hr/>
      tab은 4칸입니다.<br/>
      return문 사용시 오류가 발생합니다.<br/>
      성능 향상을 위해 print문은 자동으로 삭제됩니다.
    </div>
  </div>

  <form action="{{ url_for('func') }}" method="POST" class="post-form my-3">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">코드 입력</label>
      <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="result = 0&#13;&#10;for a in A:&#13;&#10;    result += math.pow(a, random.randint(1, 10))"></textarea>
    </div>
    
    <div id="loading" style="display: none; margin-top: 16px;">
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">계산중...</span>
      </button>
    </div>
    <div id="content">
      <button type="submit" class="btn btn-primary" style="margin-top:16px;" onclick="loading();">계산하기</button>
    </div>
  </form>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  
  {% if report == true %}
  <div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
    <div>
      계산을 위해 코드를 입력한 후 계산하기 버튼을 눌러주세요.
    </div>
  </div>
  {% elif report == false %}
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      <strong>계산 실패</strong>: 코드를 다시 확인해 주세요.
    </div>
  </div>
  {% else %}
  <div class="alert alert-success align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <strong>계산 결과</strong>
    <hr>
    <div>
      {% for item in report.items() %}
      <p>{{ item[0] }}: {{ item[1] }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">// <![CDATA[
  function loading(){
    console.log("clicked");
      document.getElementById("loading").style.display = "block";
      document.getElementById("content").style.display = "none";
  }
// ]]></script>
{% endblock %}